body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.highlighted {
  background-color: #ffeeba; /* Or any other highlight color */
}

.listNameInput {
  font-size: 24px; /* Adjust the font size as needed */
}

.listNameInput {
  font-size: 24px; /* Adjust the font size as needed */
  border: none; /* Hide the border by default */
  outline: none; /* Remove default outline */
}

.listNameInput:hover {
  border: 1px solid black; /* Show border on hover */
}

.completed {
  background-color: #ffeeba; /* Or any other highlight color */
}

